<!DOCTYPE html>
html(lang="zh-Hant-TW")
    head
        include partials/head.pug
    body
        //- include partials/navbar.pug
        block navbar
        block content

    include partials/scripts.pug